In [1]:
print("Namaste")

Namaste

In [2]:
x = 5
y = "Hanuman"
print(x)
print(y)

5
John

In [20]:
x = "Samantha"
x = "Kalyani Priyadarshan"
print(x)

Kalyani Priyadarshan

In [15]:
a = 69;
y = 69;
xc = str(y)
dec = float(a)
print(dec)
print(xc)

69.0
69

In [17]:
print(type(xc))
print(type(dec))
print(f"{type(a)} {type(y)}")

<class 'str'>
<class 'float'>
<class 'int'> <class 'int'>

In [19]:
# python is a case sensitive
a = 28
A = "Mahadev"
print(f"{type(28)} {type(A)}")

<class 'int'> <class 'str'>

In [20]:
# Legal variable names:
myvar = "Pavan"
my_var = "Pavan"
_my_var = "Pavan"
myVar = "Pavan"
MYVAR = "Pavan"
myvar2 = "Pavan"

In [21]:
# Illegal variable names:
2myvar = "ajay"
my-var = "ajay"
my var = "ajay"

SyntaxError: invalid syntax (1350214769.py, line 2)

In [23]:
# Assign Multiple Values
x,y,z = "suresh","ramesh","mahesh"
print(f"{z} {y} {x}")

mahesh ramesh suresh

In [46]:
# One Value to Multiple Variables
print("5 Star chocolate advertisement....")
for i in range(3):
    x = y = z = "Suresh"
    print(f"{z} {y} {x}")
    print(f"Ramesh Ramesh Ramesh")
print("Do Nothing...!")

5 Star chocolate advertisement....
Suresh Suresh Suresh
Ramesh Ramesh Ramesh
Suresh Suresh Suresh
Ramesh Ramesh Ramesh
Suresh Suresh Suresh
Ramesh Ramesh Ramesh
Do Nothing...!

In [32]:
# unpacking a collection 
cars = ["Mercedes","Tesla","BMW","audi","Honda"]
a,b,c,d,e = cars
print(f"{a}-Benz in black is awesome. Mercedes GLC is my fav. {b} is an electric car. \n {c} m series has a sporty look. {e} provides budget level cars with a good features like city")

Mercedes-Benz in black is awesome. Mercedes GLC is my fav. Tesla is an electric car.
 BMW m series has a sporty look. Honda provides budget level cars with a good features like city

In [48]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x + y + z)
print(x + " " + y + " " + z)

Python is awesome
Pythonisawesome
Python is awesome

In [29]:
x = 5
y = 10
print(x + y)

15

In [37]:
x = 5
y = "meow"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
print(x*y)
x = 5
y = "star chocolate "
print(x, y)

star chocolate star chocolate star chocolate star chocolate star chocolate
5 star chocolate

In [35]:
# global variables
x = "loveToBeTechM"

def techM():
    print(x)

techM()

loveToBeTechM

In [38]:
x = "Tony Stark"

def marvel():
    x = "Dr.Strange"
    print(f"Hi Tony I'm in local space, so I'm winner....{x}")
marvel()

Hi Tony I'm in local space, so I'm winner....Dr.Strange

In [39]:
x = "Thanos"

def ironMan():
    global x 
    x ="Tony Stark"
    print(f"Hi Thanos now I've all stones I'll destroy you by global keyword haha...... {x}")

ironMan()
print(f"love you 3000 by {x} :)")

Hi Thanos now I've all stones I'll destroy you by global keyword haha...... Tony Stark
love you 3000 by Tony Stark :)

'''
Python has the following data types built-in by default, in these categories:

Text Type:  str
Numeric Types:  int, float, complex
Sequence Types:  list, tuple, range
Mapping Type:  dict
Set Types:  set, frozenset
Boolean Type:  bool
Binary Types:  bytes, bytearray, memoryview
None Type:  NoneType

we can get the data type of any object by using the type() function
'''

In [60]:
x = "Hello World"
print(f"{x} - {type(x)}")
x = 20
print(f"{x} - {type(x)}")
x = 20.5
print(f"{x} - {type(x)}")
x = 1j
print(f"{x} - {type(x)}")
x = ["apple", "banana", "cherry"]
print(f"{x} - {type(x)}")
x = ("apple", "banana", "cherry")
print(f"{x} - {type(x)}")
x = range(6)
x = {"name" : "John", "age" : 36}
print(f"{x} - {type(x)}")
x = {"apple", "banana", "cherry"}
print(f"{x} - {type(x)}")
x = frozenset({"apple", "banana", "cherry"})
print(f"{x} - {type(x)}")
x = True
print(f"{x} - {type(x)}")
x = b"Hello"
print(f"{x} - {type(x)}")
x = bytearray(5)
print(f"{x} - {type(x)}")
x = memoryview(bytes(5))
print(f"{x} - {type(x)}")
x = None
print(f"{x} - {type(x)}")

Hello World - <class 'str'>
20 - <class 'int'>
20.5 - <class 'float'>
1j - <class 'complex'>
['apple', 'banana', 'cherry'] - <class 'list'>
('apple', 'banana', 'cherry') - <class 'tuple'>
{'name': 'John', 'age': 36} - <class 'dict'>
{'apple', 'banana', 'cherry'} - <class 'set'>
frozenset({'apple', 'banana', 'cherry'}) - <class 'frozenset'>
True - <class 'bool'>
b'Hello' - <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') - <class 'bytearray'>
<memory at 0x7f89a8062040> - <class 'memoryview'>
None - <class 'NoneType'>

In [15]:
data = ["Hello World",20,20.5,1j,['apple', 'banana', 'cherry'],('apple', 'banana', 'cherry'),
       {'name': 'John', 'age': 36}, {'apple', 'banana', 'cherry'},frozenset({"apple", "banana", "cherry"}),
        True,b"Hello",bytearray(5),memoryview(bytes(5)),None
       ]

for i in data:
    print(f"{i}                                        {type(i)}")

Hello World                                        <class 'str'>
20                                        <class 'int'>
20.5                                        <class 'float'>
1j                                        <class 'complex'>
['apple', 'banana', 'cherry']                                        <class 'list'>
('apple', 'banana', 'cherry')                                        <class 'tuple'>
{'name': 'John', 'age': 36}                                        <class 'dict'>
{'banana', 'apple', 'cherry'}                                        <class 'set'>
frozenset({'banana', 'apple', 'cherry'})                                        <class 'frozenset'>
True                                        <class 'bool'>
b'Hello'                                        <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')                                        <class 'bytearray'>
<memory at 0x7fc209c9c100>                                        <class 'memoryview'>
None                                        <class 'NoneType'>

In [62]:
# strings
print("Jai Shree Ram")
print('Jai Shree Ram')

Jai Shree Ram
Jai Shree Ram

In [63]:
a = """
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
"""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [64]:
a = '''
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [69]:
a = "hari krishna hare rama"
print(a[0:12]+" 🙏 "+a[13:])
print(len(a))

hari krishna 🙏 hare rama
22

In [70]:
for i in "Ravanasurudu":
    print(i)

R
a
v
a
n
a
s
u
r
u
d
u

In [73]:
txt = "Rama is said to have been born to Kaushalya and Dasharatha in Ayodhya, the ruler of the Kingdom of Kosala. His siblings included Lakshmana, Bharata, and Shatrughna. He married Sita. Though born in a royal family, their life is described in the Hindu texts as one challenged by unexpected changes such as an exile into impoverished and difficult circumstances, ethical questions and moral dilemmas."
print("sita" in txt)
print("Sita" in txt)

False
True

In [77]:
txt = "Rama is said to have been born to Kaushalya and Dasharatha in Ayodhya, the ruler of the Kingdom of Kosala. His siblings included Lakshmana, Bharata, and Shatrughna. He married Sita. Though born in a royal family, their life is described in the Hindu texts as one challenged by unexpected changes such as an exile into impoverished and difficult circumstances, ethical questions and moral dilemmas."
if "Sita" in txt:
    print("Jai Siya Ram")
else:
    print("Ravana")
    
if "sita" in txt:
    print("Jai Siya Ram")
else:
    print("Ravana")

Jai Siya Ram
Ravana

In [78]:
txt = "Rama is said to have been born to Kaushalya and Dasharatha in Ayodhya, the ruler of the Kingdom of Kosala. His siblings included Lakshmana, Bharata, and Shatrughna. He married Sita. Though born in a royal family, their life is described in the Hindu texts as one challenged by unexpected changes such as an exile into impoverished and difficult circumstances, ethical questions and moral dilemmas."
if "Hanuman" not in txt:
    print("""
            Jai Hanuman gyan gun sagar,
            Jai Kapis tihun lok ujagar,
            Ram doot atulit bal dhama,
            Anjani putra Pavan sut nama
        """)

            Jai Hanuman gyan gun sagar,
            Jai Kapis tihun lok ujagar,
            Ram doot atulit bal dhama,
            Anjani putra Pavan sut nama

In [5]:
b = "krishnadevaraya"
print(b[-8:])
print(b[7:])
print(b[0:7])

devaraya
devaraya
krishna

In [15]:
a = "Tenali Ramakrishna"
print(a.upper())
print(a.lower())
b = """       Tenali Ramakrishna was an Indian poet,scholar, thinker and a special advisor in the court of the Vijayanagar king 
Krishnadevaraya, who ruled from C.E. 1509 to 1529.     """
# the strip() method removes whitespaces from beginning or the end
print(b.strip())

TENALI RAMAKRISHNA
tenali ramakrishna
Tenali Ramakrishna was an Indian poet,scholar, thinker and a special advisor in the court of the Vijayanagar king
Krishnadevaraya, who ruled from C.E. 1509 to 1529.

In [16]:
# Replace string
a = "ashwathama"
print(a.replace("a","A"))

AshwAthAmA

In [23]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [24]:
# format string
language = "Telugu"
state = "Andhra Pradesh"
print(f"Tenali Rama was a {language} poet and advisor in the court of King Krishnadevaraya, in what is now known as {state}. ")

Tenali Rama was a Telugu poet and advisor in the court of King Krishnadevaraya, in what is now known as Andhra Pradesh.

In [27]:
item1 = "Idly"
item2 = "Vada"
item3 = "chutney"
myorder = "I want {} and {} with sambar, please give more {}..."
print(myorder.format(item1,item2,item3))

I want Idly and Vada with sambar, please give more chutney...

In [29]:
item1 = "Dosa"
item2 = "Vada"
item3 = "chutney"
myorder = "I want {0} and {1} with sambar, please give more {2}..."
print(myorder.format(item1,item2,item3))

I want Dosa and Vada with sambar, please give more chutney...

In [30]:
# Escape Character

pm = "Modi is the 14th and current \"prime minister\" of India, serving since 26 May 2014."
print(pm)

Modi is the 14th and current "prime minister" of India, serving since 26 May 2014.

In [31]:
mission = "Modi launch 'Swachh Bharat Mission' in 2014"
print(mission)

Modi launch 'Swachh Bharat Mission' in 2014

In [32]:
mission = '"Delhi" is a captial of India'
print(mission)

"Delhi" is a captial of India

In [33]:
print(bool("vikramaditya"))
print(bool(2812))
print(bool(["Modi","Putin","Mr. Xi Jinping"]))

True
True
True

In [34]:
print(bool(False))
print(bool(""))
print(bool(0))
print(bool(None))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [36]:
class my_class():
    def __len__(self):
        return 0;

myObj = my_class()
print(bool(myObj))

False

In [39]:
def myFunction():
    return True

print(myFunction())

if myFunction():
    print("Yes")
else:
    print("No")

True
Yes

In [40]:
x = 2812
print(isinstance(x,int))
print(isinstance(x,float))

True
False

List : List are used to store multiple values in a single variable 
List are created using square blackets
List are one of the 4 built-in data type in python used to store collection of data, the other 3 are Tuples,Set and dictionary
It allows duplicates

In [42]:
thelist = ["Sony","LG","ONIDA","Samsung"]
print(thelist)
print(len(thelist))

['Sony', 'LG', 'ONIDA', 'Samsung']
4

                                      Python Collections (Arrays)
There are four collection data types in the Python programming language:

-> List is a collection which is ordered and changeable. Allows duplicate members.

-> Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

-> Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

-> Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [55]:
thelist1 = ["iphone","Samsung A series","OnePlus"]
thelist1.append("Mi")
print(thelist1)

thelist1.insert(1,"Samsung s22 series")
print(thelist1)

thelist1.remove("Mi")
print(thelist1)

thelist1.pop(0)
print(thelist1)

thelist1.pop()
print(thelist1)

del thelist1[1]
print(thelist1)

bike = ["Duke 200","Bullet","Contenental GT","Shine","Honda Activa"]
for i in bike:
    thelist1.append(i)
print(thelist1)

del bike
# print(bike) gives error because it is delete

thelist1.clear()
print(thelist1)

['iphone', 'Samsung A series', 'OnePlus', 'Mi']
['iphone', 'Samsung s22 series', 'Samsung A series', 'OnePlus', 'Mi']
['iphone', 'Samsung s22 series', 'Samsung A series', 'OnePlus']
['Samsung s22 series', 'Samsung A series', 'OnePlus']
['Samsung s22 series', 'Samsung A series']
['Samsung s22 series']
['Samsung s22 series', 'Duke 200', 'Bullet', 'Contenental GT', 'Shine', 'Honda Activa']
[]

In [1]:
print("Good night py 22-12-2022 :)")

Good night py 22-12-2022 :)

In [2]:
class Item():
    pass

item1 = Item()
random_variable = str("Namaste")
# the above line code is equivalent to
random_var = "Namaskaram"
print(random_variable)
print(random_var)

Namaste
Namaskaram

In [3]:
class Item():
    pass

item1 = Item()
item1.name = "iphone 13"
item1.price = 75000
item1.brand = "Apple"
item1.quantity = 69

print(type(item1))
print(type(item1.name))
print(type(item1.price))
print(type(item1.brand))
print(type(item1.quantity))

<class '__main__.Item'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

In [4]:
random_str = "aaa"
print(random_str.upper())

AAA

In [9]:
class Item():
    def calculate_total_price(self,x,y):
        return x * y

item1 = Item()
item1.name = "iphone 13"
item1.price = 75000
item1.brand = "Apple"
item1.quantity = 69
print(item1.calculate_total_price(item1.price,item1.quantity))

item2 = Item()
item2.name = "samsung s22"
item2.price = 72000
item2.brand = "Samsung"
item2.quantity = 10
print(item2.calculate_total_price(item2.price,item2.quantity))

5175000
720000

In [19]:
class Cars():
    def __init__(self,name: str ,model: str,fuelType: str,color: str,price: int):
        # print(f"An instance is created: {name}")
        self.name = name
        self.model = model
        self.fuelType = fuelType
        self.color = color
        self.price = price
        

car1 = Cars(8,"City","Petrol","White",1700000);

car2 = Cars("BMW","M2","Petrol","Blue",1000000);

print(car1.name)
print(car2.name)

Honda
BMW

In [41]:
class Item():
    pay_rate = 0.8 # The pay rate after 20% discount
    def __init__(self,name: str,model: str,price: int,quantity = 0):
        
        # Run validations to the received arguments
        assert price >= 0, f"Price {price} is !>= 0"
        assert quantity >= 0, f"Price {price} is !>= 0"
        
        # Assign the self object
        self.name = name
        self.model = model
        self.price = price
        self.quantity = quantity
    def calculate_total_price(self):
        return self.price * self.quantity

item1 = Item("Phone","iphone",72000,16)
item2 = Item("PC","Mac M2",97000,6)

print(Item.pay_rate)
print(item1.pay_rate)
print(item2.pay_rate)

0.8
0.8
0.8

In [2]:
tup = ("Honda City","BMW M2","Mercedes benz","BMW M2")
print(tup)
# tup[0] = "TATA" gives error
tup.append("TATA")

('Honda City', 'BMW M2', 'Mercedes benz')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
class Item:
    def __init__(self,name):
        print("I am created")
        self.name = name
    def sayHi(self):
        print("Namaste item is added to card",self.name)
item1 = Item("Samsung S22")
item1.sayHi()

I am created
Namaste item is added to card Samsung S22