In [1]:
list1 = [1,2,3,4,5,6,7,8,9,"Hi","Hola","Hello","Namaste"]

In [2]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
Hi
Hola
Hello
Namaste

In [3]:
if True:
    print("Karma")

Karma

In [4]:
myDogHungry = True
if myDogHungry:
    print("Feed me!")
else:
    print("I'm not hungry")

Feed me!

In [8]:
userOs = input("Can you tell me which OS are you using?")
if userOs.lower() == "mac":
    print("macOS Ventura")
elif userOs.lower() == "linux":
    print("Linux OS")
elif userOs.lower() == "windows":
    print("Windows Microsoft")
else:
    print("choose OS:\nLinux\nWindows\nMac")

Can you tell me which OS are you using?LINUX
Linux OS

In [16]:
list2 = []
for i in range(1,26):
    list2.append(i)
    if i % 2 == 0:
        print(i)
    else:
        print(f"Odd number: {i}")

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10
Odd number: 11
12
Odd number: 13
14
Odd number: 15
16
Odd number: 17
18
Odd number: 19
20
Odd number: 21
22
Odd number: 23
24
Odd number: 25

In [17]:
evenNoList = [x for x in list2 if x%2==0 ]

In [18]:
evenNoList

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [30]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hi', 'Hola', 'Hello', 'Namaste']

In [28]:
numberList = [x for x in list1 if type(x) == int]

In [25]:
print(type(numberList[-1]))

<class 'str'>

In [29]:
numberList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
listsum = 0
for x in numberList:
    listsum += x
    #listsum = listsum +  x

print(listsum)

45

In [41]:
myString = "Hello"
[print(x) for x in myString]

H
e
l
l
o

[None, None, None, None, None]

In [44]:
[x for x in "Pavan"]

['P', 'a', 'v', 'a', 'n']

In [42]:
print(x) for x in myString

SyntaxError: invalid syntax (4125337377.py, line 1)

In [45]:
for _ in range(5):
    print("Jai Shree Ram")

Jai Shree Ram
Jai Shree Ram
Jai Shree Ram
Jai Shree Ram
Jai Shree Ram

In [48]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [50]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

for i in mylist:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [51]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [52]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in mylist:
    print(b)

2
5
8

In [53]:
d = {"k1":1,"k2":2,"k3":3}
for item in d:
    print(item)

k1
k2
k3

In [54]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [55]:
for key,value in d.items():
    print(value)

1
2
3

In [56]:
for value in d.values():
    print(value)

1
2
3

# While loop

In [60]:
x = 0

while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else:
    print("x is not less than five")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than five

break, continue, pass

we can use break continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.

In [61]:
numberList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
for i in numberList:
    # comment

IndentationError: expected an indented block (3999432982.py, line 2)

In [63]:
for i in numberList:
    # comment
    pass
print("end of my script")

end of my script

In [66]:
mystring = "Pavan"

for i in mystring:
    if i == "a":
        continue
    print(i)

P
v
n

In [70]:
x = 0

while x<5:
    if x == 3:
        break
    print(x)
    x += 1

0
1
2

## Usefull operators

In [74]:
for num in range(5):
    print(num)

0
1
2
3
4

In [75]:
for num in range(4,25,2):
    print(num)

4
6
8
10
12
14
16
18
20
22
24

In [76]:
range(2,10,2)

range(2, 10, 2)

In [77]:
list(range(2,10,2))

[2, 4, 6, 8]

In [79]:
index_count = 0

for letter in "SHIVA":
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is S
At index 1 the letter is H
At index 2 the letter is I
At index 3 the letter is V
At index 4 the letter is A

In [80]:
index_count = 0
word = "VISHNU"
for letter in word:
    print(word[index_count])
    index_count += 1

V
I
S
H
N
U

In [81]:
word = "Krishna"

for index,letter in enumerate(word):
    print(index,letter)

0 K
1 r
2 i
3 s
4 h
5 n
6 a

In [88]:
list11 = [1,2,3]
list12 = ['a','b','c']

In [89]:
zip(list11,list12)

In [90]:
for item in zip(list11,list12):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [91]:
list11 = [1,2,3,4,5,6,7,8,9]
list12 = ['a','b','c']

['a', 'b', 'c']

In [92]:
for item in zip(list11,list12):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [93]:
list11 = [1,2,3,4,5,6,7,8,9]
list12 = ['a','b','c']
list13 = [100.61,63,69]

for item in zip(list11,list12,list13):
    print(item)

(1, 'a', 100.61)
(2, 'b', 63)
(3, 'c', 69)

In [95]:
for a,b,c in zip(list11,list12,list13):
    print(c)

100.61
63
69

In [96]:
4 in list11

True

In [99]:
x in ['x','y','z']

False

In [100]:
"a" in "a world"

True

In [101]:
'mykey' in {'mykey':455}

True

In [102]:
d = {'mykey':355}
355 in d.values()

True

In [103]:
numberList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
max(numberList)

9

In [105]:
min(numberList)

1

In [106]:
from random import shuffle

In [109]:
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [110]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [112]:
shuffle(mylist)

In [113]:
mylist

[15, 9, 6, 7, 12, 14, 5, 11, 10, 8, 2, 13, 3, 1, 4]

In [114]:
random_list = shuffle(mylist)

In [115]:
random_list

In [116]:
type(random_list)

NoneType

In [117]:
from random import randint

In [118]:
randint(0,61)

22

In [119]:
mynum = randint(1,61)

In [120]:
mynum

43

In [121]:
favNum = input("Enter your favorite number: ")

Enter your favorite number: 61

In [122]:
favNum

'61'

In [123]:
type(favNum)

str

In [124]:
favNum = int(input("Enter your favorite number: "))

Enter your favorite number: 69

In [125]:
type(favNum)

int

#  List Comprehension

In [126]:
myString = "Lord Vishnu"

In [135]:
lst = []

for i in myString:
    lst.append(i)
print(lst)

['L', 'o', 'r', 'd', ' ', 'V', 'i', 's', 'h', 'n', 'u']

In [134]:
lst1 = [x for x in myString]

In [136]:
lst1

['L', 'o', 'r', 'd', ' ', 'V', 'i', 's', 'h', 'n', 'u']

In [137]:
numlst = [num**2 for num in range(1,11,1)]

In [138]:
numlst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [139]:
evenlst = [x for x in range(0,11,1) if x%2==0]

In [140]:
evenlst

[0, 2, 4, 6, 8, 10]

In [141]:
celcius = [0,10,20,34,45,48]

fahrenheit = [( (9/5)*temp + 32 ) for temp in celcius]

In [142]:
fahrenheit

[32.0, 50.0, 68.0, 93.2, 113.0, 118.4]

In [143]:
fahrenheit1 = []

for temp in celcius:
    fahrenheit1.append( (9/5)*temp + 32 )
fahrenheit1

[32.0, 50.0, 68.0, 93.2, 113.0, 118.4]

In [144]:
results = [x if x%2==0 else 'Odd' for x in range(0,11)]
results

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [146]:
lst9 = []

for x in [2,3,4]:
    for y in [1,10,1000]:
        lst9.append(x*y)
lst9

[2, 20, 2000, 3, 30, 3000, 4, 40, 4000]

In [147]:
lst8 = [x*y for x in [2,3,4] for y in [1,10,1000]]
lst8

[2, 20, 2000, 3, 30, 3000, 4, 40, 4000]